# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables (ignore real secrets)
.env

# Database (SQLite)
db.sqlite3

# Media uploads
media/

posts/*.jpg
posts/*.jpeg
posts/*.png
